<!DOCTYPE html>
<html>
<link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet" type="text/css" />
<title>Exercise 1</title>

<head>

</head>

<body>
   <div id="calculator_id">
      <textarea id="display" type="text"></textarea>
      <form name="calculator_form">
         <table>
            <tr>
               <td><input type="button" name="one" value="1" onclick="display.innerHTML += '1'"></td>
               <td><input type="button" name="two" value="2" onclick="display.innerHTML += '2'"></td>
               <td><input type="button" name="three" value="3" onclick="display.innerHTML += '3'"></td>
               <td><input type="button" class="operator" name="plus" value="+" onclick="display.innerHTML += '+'"></td>
            </tr>
            <tr>
               <td><input type="button" name="four" value="4" onclick="display.innerHTML += '4'"></td>
               <td><input type="button" name="five" value="5" onclick="display.innerHTML += '5'"></td>
               <td><input type="button" name="six" value="6" onclick="display.innerHTML += '6'"></td>
               <td><input type="button" class="operator" name="minus" value="-" onclick="display.innerHTML += '-'"></td>
            </tr>
            <tr>
               <td><input type="button" name="seven" value="7" onclick="display.innerHTML += '7'"></td>
               <td><input type="button" name="eight" value="8" onclick="display.innerHTML += '8'"></td>
               <td><input type="button" name="nine" value="9" onclick="display.innerHTML += '9'"></td>
               <td><input type="button" class="operator" name="times" value="x" onclick="display.innerHTML += '*'"></td>
            </tr>
            <tr>
               <td><input type="button" id="clear" name="clear" value="c" onclick="display.innerHTML = ''"></td>
               <td><input type="button" name="zero" value="0" onclick="display.innerHTML += '0'"></td>
               <td><input type="button" name="doit" value="=" onclick="display.innerHTML = eval(display.innerHTML)">
               </td>
               <td><input type="button" class="operator" name="div" value="/" onclick="display.innerHTML += '/'"></td>
            </tr>
         </table>
      </form>
   </div>
</body>

</html>